.top {
    top: 0px;
    z-index: 10000;
}

.bottom {
    margin-top: 50px;
}

.todoItem:hover .emoji {
    display: block;
}

.todoItemImage {
    width: 75px;
    height: 75px;
    min-width: 75px;
    object-fit: cover;
    background-color: aquamarine;
    border-radius: 50%;
    margin-right: 7px;
}

.dropdownAction {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 10;
}
.dropdownAction li a {
    padding: 3px 15px;
    display: block;
    cursor: pointer;
    min-width: 80px;
}

.dropdownAction li:hover a {
    background: #ddd;
}


/* emoji */
.emoji {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: none;
}

.emoji:hover .emojiList {
    display: flex;
}

.emojiList {
    position: absolute;
    bottom: 20px;
    right: -20px;
    z-index: 1200;
    box-shadow: 0px 1px 3px #ddd;
    display: none;
    border-radius: 5px;
}

.emojiList li {
    transition: all ease-in-out 0.2s;
}

.emojiList li:hover {
    transform: scale(1.4);
}

.emojiListPoint {
    position: absolute;
    bottom: -8px;
    right: 40px;
}

.emojiListPoint li {
    padding: 2px;
}


/* ICON DOTSVERTICAL */
.iconDotsVertical {
    min-width: 1.25em;
}

.itemRight {
    min-width: 120px;
    margin-left: 1em;
    width: 120px;
}

@media (max-width: 767px) { 
    .top {
        width: 100%;
    }

    .itemRight {
        min-width: auto;
        margin-left: 0;
        width: auto;
    }

    .lastTime {
        position: absolute;
        bottom: 5px;
        left: 15px;
    }

    .todoItemContent {
        padding-bottom: 25px;
    }

    .emoji {
        display: block;
    }

    .todoItem {
        padding-bottom: 30px;
    }
}

@media (max-width: 550px){
    .todoItem {
        align-items: flex-start;
    }
    .itemLeft {
        flex-direction: column;
    }

    .iconDotsVerticalWrap {
        position: absolute;
        top: 10px;
    }

    .todoItem {
        padding-bottom: 0px;
    }
}